<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href='/authors'>Author </a>
            </li>
            <li>
                <a href='/books'>Book </a>
            </li>
        </ul>
        <main>
            <fieldset>
                <legend>
                    <form action="/authors" method="POST">
                        <div><label for="">Name </label>
                            <input type="text" name="name" value="">
                        </div>
                        <div><label for="">IsAlive</label>
                            <input type="radio" name="isAlive" value="true">
                            <input type="radio" name="isAlive" value="false">
                            <button>Submit </button>
                        </div>
                    </form>
                </legend>
            </fieldset>
        </main>
    </nav>
</body>
</html>
